---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
	<div class="wordwrap">You can find a full list of my publications on my <a href="{{site.author.googlescholar}}">Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Conference Proceedings</h2>
<div class="publications-list">
	<ul>
		<li>
			<strong>Chawatama, K.</strong>, &amp; Tunca, B. (2026). Characterizing tumor microenvironment transcriptome variations in NASH and viral hepatocellular carcinomas for targeted therapy. <em>18th International Symposium on Health Informatics and Bioinformatics (HIBIT 2026)</em>. Abstract book in revision for publication in <em>Acibadem University Journal of Health Sciences</em>, 17(Supplement 1).
		</li>
		<li>
			Amirak, E., Guler, M., <strong>Chawatama, K.</strong>, &amp; Demirbag, M. (2023). Comprehensive analysis of promoter methylation effects on the GPRC5A methylation profile across various cancer types. <em>16th International Symposium on Health Informatics and Bioinformatics (HIBIT 2023)</em>. <a href="https://fs.hacettepe.edu.tr/hibit/dosyalar/Abstract%20Book-merged.pdf">Abstract Book</a>
		</li>
	</ul>
</div>

<h2>Select Publications</h2>
<div class="publications-list">
	<ul>
		<li>Coming soon! I am but a humble undergrad :)</li>
	</ul>
</div>

<p>† Denotes equal contribution.</p>



